h1 {
  color: rebeccapurple;
  font-size: 100px;
  text-align: center;
  text-shadow: 2px 2px black;
}

#d1 {
  background-color: yellow;
}

#d2 {
  color: green;
}

#d3 {
  background-color: black;
  color: white;
}

#d4 {
  color: blue;
}
#d5 {
  font-size: 30px;
  text-shadow: 1px 1px red;
}
