h1 {
  text-align: center;
}
h2 {
  text-align: left;
}
h3 {
  text-align: right;
}
#diomedes {
  text-align: center;
}

#feid {
  text-align: left;
}
#eladio {
  text-align: right;
}
